html{
  scroll-behavior: smooth;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;

}
/* //////////// header starts  */
nav{
  display: none;
}

.container{
 width: 100%; 
  
  margin: 0 auto; 

}



header{
  width: 100%;
  max-width: 1600px;
  min-height: 80px;
  display: flex;
justify-content: space-between;
align-items: center;
font-size: 1em;
padding: 0 1em;
background-color: black;
color: white;
position: fixed;
z-index: 1000;
isolation: isolate;
}

.menu .fa-bars{
  display: block;
}

.menu nav {
  display: none;
}
.menu nav ul{
 
  color: white;
  list-style: none;
  
}
.menu nav ul a{
text-decoration: none;
 color: white;
 font-size: 0.5em;
}
.menu nav ul a:hover{
  color: orange;
}

.menu:hover nav {
  display: block;
}

.menu:hover .fa-bars {
  display: none;
}

header .logo{
text-decoration: none;
color: white;
 font-size: 1.3em;
}

header .logo span{
  color: orange;
  font-size: 1.3em;
}
/* //////////// header ends  */


/* ////// homepage start */
.home{
  padding: 0 1em;
 background: url('assets/main.jpg') no-repeat center / cover;
 padding-top: 90px;
 padding-bottom: 1em;
 width: 100%;
 color: white;
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
width: 100%;
line-height: 1.5;
gap: 10px;
}

.content h1{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.content h1 span{
  display: block;
  color: grey;
    text-transform: uppercase;
    
}

.btns{
  display: flex;
  flex-direction: column;
  
}

.btn{
padding: 0.8em 2em;
margin-top: 0.8em;
font-size: 1.1em;

border-radius: 5px;
}
.send-message-btn{
padding: 0.8em 2em;
margin-top: 0.8em;
font-size: 0.8em;

border-radius: 5px;
}

 .btn-download,.send-message{
  background-color: transparent;
  border: 1px solid orange;
  transition: all 0.5s ease;
  color: orange;
 }

 .btn-download:hover, .send-message:hover{
  color: white;
  background-color: orange;
  cursor: pointer;
 }
 .btn-discover{
  background-color: orange;
  border: none;
  color: white;
   transition: all 0.5s ease;
 }

   .btn-discover:hover{
   box-shadow: rgba(255, 165, 0, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }

  .image{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding-top: 40px;
padding-bottom: 20px;
  }
.image img{
  width: 100%;
  min-height: 200px;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.moving-img{
  animation:float 3s ease-in-out infinite;
}
/* ////// homepage ends */

/* ////// about1 starts */
.about1 , .about2{
    padding: 1em 1em;
    width: 100%;
 min-height: 100vh;
 
 
}
.about1 h2, .about2 h2,.para h2{
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 800;
}
.about1 h2 span , .about2 h2 span ,.para h2 span{
  color: orange;
}
.about1 > p, .about2 > p{
  color: grey;
  text-align: center;
  margin-bottom: 2em;
}
 
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
gap: 10px;
}

.content .contents p{
  color: grey;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* ////// about1 ends */

.wrapper .contents{
width: 100%;
display: flex;
flex-direction: column;
}

.wrapper .contents h1{
  color: grey;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}
.wrapper .contents h1 span{
  display: block;
}


/* number-count starts */
.number-count{
background-attachment: fixed;
background-image: url('assets/back1.avif');
min-height: 300px;
padding-bottom: 32px;
text-align: center;
background-position-x:50%;
background-position-y:50%;
padding-top: 32px;
padding-left: 1em;
padding-right: 1em;
}
.number-count h2{
  text-align: center;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
} 
.number-count p{
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* number-count ends */
.number-count .flex{
display: flex;
align-items: center;
justify-content: center;
padding-top: 30px;
scroll-behavior: smooth;
gap: 15px;}

.number-count .flex .items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.number-count .flex .items span{
  font-size: 1em;
}

.para{
  min-height: 400px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.para p{
  text-align: center;
  line-height: 1.3;
  color: grey;
}

/* gallery section starts */
.gallery{
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 100px;
}
.hexagon{
width: 140px;
height: 200px;
margin: 10px;
overflow: hidden;
object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.gallery img{
  width: 140px;
  height: 200px;

}

/* gallery section ends */

/*contact*/
.contactParent{
background: url("assets/main.jpg") no-repeat center / cover scroll;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact{
  display: grid;
grid-template-columns: ifr;
  align-items: center;
  min-height: 600px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 32px;
background-color: black;
color: white;
}
form input , form textarea{
  border: none;
  border-bottom: 1px solid grey;
  color: grey;
  padding: 8px 15px;
  margin-bottom: 5px;
  background-color: transparent;
  width: 100%;
}
.contact-us{
 background-color: white;
  color: black;
  padding: 32px;
}
.contact-us span{
font-size: 1.1em;
font-weight: 600;
text-transform: uppercase;
padding-bottom: 15px;
}
.contact-us p {
  padding-top: 10px;
padding-bottom: 15px;

}
.data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10%;
}
.data-items{
  display: flex;
  padding: 5px ;
  align-items: baseline;
}
.follow-us,.follow{
  min-height: 40vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2em 1em;
}
.follow-us a{
  color: white;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 10px;
}
.contact-items,.follow-items{
display: flex;
flex-direction: column;
gap: 10%;
}

.container{
  max-width: 1600px;
}

@media (min-width:768px){
.home{
     flex-direction: row;
     gap: 10px;
}


.content{
  width: 50%;
}
.image{
  width: 50%;
}


  .wrapper{
    flex-direction: row;
     gap: 40px;
  }
  .wrapper .contents{
    width: 50%;
  }
 .btns {
  
    gap: 15px;
  }
  .gallery .hexagon-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.menu .fa-bars{
  display: none;
}
.menu nav{
  display: flex;
 flex-direction: row;
  gap: 10px;
    font-size: 2em;
}
 .menu nav ul {
    display: flex;
    gap: 20px;
  
  }
header .logo{
  font-size: 2.2em;
}
}